 *{
    background-color: #334d4d;
}
 
 /* Apply styles to the header element */
 header {
    background-color: #22736b;
    color: #cccccc;
    padding: 20px; 
}

  header *{
    background-color: inherit;
    color: inherit;
}

 header h1 {
    text-align: center;
    font-size: 2.5em;
}

  nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 5px solid #fdb347;
}
nav li{
    display: inline-block;
    margin: 0 0 0 15px;
    font-size: 1.2em;
    }

main {
  color: #FFFACD; 
}

.card-img {
  height: 30%;
  width: 40%;
  border-radius: 15%;
}

.card {
  width: 20%;
  border-style: outset;
  border-color: #cccccc;
  border-radius: 20px;
  color: #FFFACD; 
  margin: 25px;
  object-fit: cover;
  margin: 3%;
  overflow: hidden;
  text-overflow: ellipsis; 
  transition: width 0.3s, height 0.3s;
}
/* Hover functionality not working yet. 

.card:hover {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  height: auto;
}
*/

.footer {
  margin: 25px;
  color: #FFFACD;
}

#project-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;
}
